# Data
DATA_PATH=data/Hospital_Inpatient_Discharges__SPARCS_De-Identified___2012_20240601.csv
SAMPLE_SIZE=50000

# Training
RANDOM_STATE=42
TEST_SIZE=0.15
VAL_SIZE=0.15
N_TRIALS=30

# Artifacts
ARTIFACTS_DIR=artifacts

# MLflow
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=hospital-cost-prediction

# API
API_HOST=0.0.0.0
API_PORT=8000

# Streamlit -> API
API_URL=http://localhost:8000
